<launch>

  <!-- naming and frames -->
  <arg name="camera" default="camera"/>
  <arg name="rgb_frame_id" default="$(arg camera)_rgb_optical_frame"/>
  <arg name="depth_frame_id" default="$(arg camera)_depth_optical_frame"/>

  <!-- select device -->
  <arg name="device_id" default="#1"/>

  <!-- driver options -->
  <arg name="depth_registration" default="true"/>
  <arg name="color_depth_synchronization" default="true"/>
  <arg name="auto_exposure" default="true"/>
  <arg name="auto_white_balance" default="true"/>

  <!-- calibration parameters -->
  <arg name="rgb_camera_info_url" default=""/>
  <arg name="depth_camera_info_url" default=""/>

  <group ns="$(arg camera)">
    <arg name="manager" value="$(arg camera)_nodelet_manager"/>

    <!-- nodelet manager -->
    <node pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager" output="screen">
      <param name="num_worker_threads" value="4"/>
    </node>

    <!-- driver nodelet -->
    <include file="$(find openni2_launch)/launch/includes/device.launch.xml">
      <arg name="manager" value="$(arg manager)"/>
      <arg name="device_id" value="$(arg device_id)"/>
      <arg name="rgb_frame_id" value="$(arg rgb_frame_id)"/>
      <arg name="depth_frame_id" value="$(arg depth_frame_id)"/>
      <arg name="rgb_camera_info_url" value="$(arg rgb_camera_info_url)"/>
      <arg name="depth_camera_info_url" value="$(arg depth_camera_info_url)"/>
      <arg name="depth_registration" value="$(arg depth_registration)"/>
      <arg name="color_depth_synchronization" value="$(arg color_depth_synchronization)"/>
      <arg name="auto_exposure" value="$(arg auto_exposure)"/>
      <arg name="auto_white_balance" value="$(arg auto_white_balance)"/>
    </include>
  </group>

</launch>
